header{
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black-color);
  padding: 20px 30px;
}

header nav{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header nav a{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--white-color);
  font-weight: 400;
  transition: 0.4s all;
}

header nav a:hover{
  color: var(--yellow-color);
}

header nav a h1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 19px;
  font-weight: 550;
}
header nav a p{
  position: relative;
  display: block;
  font-size: 13px;
  color: var(--golden-color);
  font-weight: lighter;
}
