*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
}

body{
  background: linear-gradient(to left,#78B5E3 ,#304848);
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  color: #333;
  display: block;
  position: relative;
}

a{
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  display: block;
  position: relative;
}

main a{
  background-color: transparent !important;
  border-radius: 4px;
  padding: 10px;
  color: #78B5E3;
  display: block;
  position: relative;
}
