*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --bg-color: #13293D;
  --white-color: #fff;
  --default-color: #006494;
  --yellow-color: #fabe28;
  --black-color: #2B2A25;
  --grey-color: #e3e3e3;
  --color-tittle: rgb(29, 24, 12);
}

@font-face {
  font-family: Open-sans;
  src: url(./utils/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Plus-Jakarta;
  src: url(./utils/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}


body{
  min-height: 100vh;
  color: var(--black-color);
  display: block;
  font-family: Open-sans;
}
