*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --white-color: #fff;
  --golden-color: #F1C912;
  --yellow-color: #EDC242;
  --black-color: #2B2A25;
  --grey-color: #e3e3e3;
}

@font-face {
  font-family: Open-sans;
  src: url(./utils/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
  background: linear-gradient(to left,#78B5E3 ,#304848);
  min-height: 100vh;
  color: #fff;
  display: block;
  font-family: Open-sans;
}
